Language: Cpp
AlignEscapedNewlines: Left
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
PenaltyBreakComment: 10
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: true
BinPackParameters: true
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Attach
ColumnLimit: 120
IndentCaseLabels: true
IndentGotoLabels: false
# InsertTrailingCommas: Wrapped
NamespaceIndentation: All
SpaceBeforeCpp11BracedList: true
SortIncludes: false
KeepEmptyLinesAtTheStartOfBlocks: false
