root = true

[*]
charset = utf-8
end_of_line = lf

insert_final_newline = true
trim_trailing_whitespace = true

indent_style = space
indent_size = 4

[*.{c,cpp,cxx,h,hpp,hxx,ino}]
indent_size = 2
tab_width = 2

[*.{htm,html,js,vue,css}]
indent_size = 2
tab_width = 2

[*.{yml,yaml}]
indent_size = 2
tab_width = 2

[Makefile]
indent_style = tab
